block content
	div.modal-header
		h4.modal-title Processing
	div.modal-body
		uib-progressbar.progress-striped.active(value="dynamic", type="info")
			i Creating Charts
	div.modal-footer(hidden="true")
