doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")  
    title= title
    link(rel='stylesheet', href='/stylesheets/thirdparty/bootstrap/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/thirdparty/toaster/toaster.css')
    link(rel='stylesheet', href='/stylesheets/userStatsApp/userstatsapp.css')
  body(ng-app="userStatsApp")
    block content
    div.navbar.navbar-inverse.navbar-fixed-top(role='navigation', ng-controller="navbarController")
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#!', ng-class="{active : isActive('/')}") User Statistics App
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li(ng-class="{active : isActive('/')}")
              a(href='#') Home
            li(ng-class="{active : isActive('/results')}")
              a(href='#!/results') Results
            li(ng-class="{active : isActive('/readme')}")
              a(href='#!/readme') Description

    script(src='/scripts/thirdparty/angular/angular.js')
    script(src='/scripts/userStatsApp/userStatsApp.js')
    script(src='/scripts/userStatsApp/userStatsApp.uploadController.js')
    script(src='/scripts/userStatsApp/userStatsApp.resultsController.js')
    script(src='/scripts/userStatsApp/userStatsApp.userStatsAppService.js')
    script(src='/scripts/userStatsApp/userStatsApp.processingController.js')
    script(src='/scripts/userStatsApp/userStatsApp.navBarController.js')
    script(src='/scripts/userStatsApp/userStatsApp.customOnChangeDirective.js')
    script(src='/scripts/thirdparty/angular-bootstrap/angular-bootstrap.js')
    script(src='/scripts/thirdparty/toaster/toaster.js')
    script(src='/scripts/thirdparty/Chart.js/Chart.js')
    script(src='/scripts/thirdparty/angular/angular-route.js')
    script(src='/scripts/thirdparty/angular-chart/angular-chart.js')
    script(src='/scripts/thirdparty/jquery/jquery.js')
    script(src='/scripts/thirdparty/bootstrap/bootstrap.js')

